body{
    background-color: lightblue;
}

.container{
    background-color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.answer{
    background-color: lightblue;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.answer:hover{
    cursor: pointer;
    background-color: powderblue;
}